<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div class="todo-widget">
        <div class="title">Todo Widget</div>
        <div class="toolbar">
          <button>refresh</button>
        </div>
        <div class="todo-main">
          <div class="overlay">
            <span>message</span>
          </div>
          <div class="todo-list">
            <div class="item">
              <span class="title">Todo title</span>
              <span class="body"
                >Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatibus magni voluptates, officia, quis nulla pariatur
                rerum qui in, hic amet impedit facere. Voluptatibus aut omnis
                nihil laborum facere optio rerum.</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
